.main {
    -fx-background-image: url("file:///C:/Users/ME/Documents/Telecomunicatii/telecomunications-ui/src/main/resources/img/background.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-background-position: center;
}

.forum{
    -fx-background-color: rgba(126, 60, 204, 0.5);
    -fx-background-radius: 30;
}
/* Stil pentru buton */
.register_btn {
    -fx-padding: 1.1em 2em;
    -fx-shape: "M0,100 A100,100 0 0,1 100,100 L0,100 Z";
    -fx-background-color: linear-gradient(to right, #bfa0ff, #7900e6); /* Gradient de culoare */
    -fx-font-size: 15px;
    -fx-text-fill: #131313;
    -fx-cursor: hand; /* Pentru efectul de cursor */
    -fx-background-radius: 0px; /* Eliminarea border-radius-ului pentru a păstra forma semicercului */
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #8e16ff, 2, 2, 0, 0); /* Efect de umbrire */
    -fx-transition: all 0.3s; /* Tranziție la hover */
}

/* Efect de hover */
.register_btn:hover {
    -fx-background-color: linear-gradient(to right, #aa00ff, #e7c6ff); /* Gradient de culoare la hover */
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, #0d3b66, 2, 2, 0, 0); /* Efect de umbrire la hover */
}

/* Efect de click */
.register_btn:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}
.myImageViewBack {
    -fx-background-image: url("file:///C:/Users/ME/Documents/Telecomunicatii/telecomunications-ui/src/main/java/com/comunications/telecomunicationsui/img/back.png");
    -fx-background-size: contain; /* sau cover, în funcție de preferințe */
}
.userLogo {
    -fx-background-image: url("file:///C:/Users/ME/Documents/Telecomunicatii/telecomunications-ui/src/main/resources/img/user.png");
    -fx-background-size: 30px 30px; /* Setează dimensiunea la 35x35 pixeli */
    -fx-background-repeat: no-repeat; /* Asigură-te că imaginea nu se repetă */
    -fx-background-position: center; /* Centrează imaginea */
}

.lockLogo {
    -fx-background-image: url("file:///C:/Users/ME/Documents/Telecomunicatii/telecomunications-ui/src/main/resources/img/lock.png");
    -fx-background-size: 30px 30px; /* Setează dimensiunea la 35x35 pixeli */
    -fx-background-repeat: no-repeat; /* Asigură-te că imaginea nu se repetă */
    -fx-background-position: center; /* Centrează imaginea */
}
.phoneLogo {
    -fx-background-image: url("file:///C:/Users/ME/Documents/Telecomunicatii/telecomunications-ui/src/main/resources/img/telephone.png");
    -fx-background-size: 30px 30px; /* Setează dimensiunea la 35x35 pixeli */
    -fx-background-repeat: no-repeat; /* Asigură-te că imaginea nu se repetă */
    -fx-background-position: center; /* Centrează imaginea */
}
/*
stil pentru butonul de inregistrare*/
#registerButton {
    -fx-border-color: rgb(179, 104, 250);
    -fx-border-width: 2px;
    -fx-background-color: rgb(89, 26, 147);
    -fx-text-fill: rgb(179, 104, 250);
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 8px 20px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgb(179, 104, 250), 0, 0, 10, 0),
    dropshadow(three-pass-box, rgba(191, 123, 255, 0.781), 0, 0, 40, 10),
    inset dropshadow(three-pass-box, rgb(179, 104, 250), 0, 0, 20, 0);
}

#registerButton:hover {
    -fx-text-fill: rgb(100, 61, 136);
    -fx-background-color: rgb(179, 104, 250);
    -fx-effect: dropshadow(three-pass-box, rgb(89, 26, 147), 0, 0, 10, 0),
    dropshadow(three-pass-box, rgb(89, 26, 147), 0, 0, 40, 20),
    inset dropshadow(three-pass-box, rgb(89, 26, 147), 0, 0, 20, 0);
}

#registerButton:pressed {
    -fx-effect: dropshadow(three-pass-box, rgb(179, 104, 250), 0, 0, 6, 0),
    dropshadow(three-pass-box, rgba(191, 123, 255, 0.781), 0, 0, 25, 20),
    inset dropshadow(three-pass-box, rgb(179, 104, 250), 0, 0, 10, 0);
}

.slideBarItems {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.slideBarItems:hover {
    -fx-border-width: 0 3 0 3 ;
    -fx-border-style: solid;
    -fx-border-color: #b1e1ff;
    -fx-background-color: #b159ff;
}
.backButton{
    -fx-background-color: transparent;
}
.backButton:hover {
    -fx-background-color: #b159ff;
    -fx-cursor: hand;
}

.menuItems {
    -fx-font-size: 15px;
    -fx-text-fill: #210047;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-position: relative;
}
.menuItems:hover {
    -fx-text-fill: #b1e1ff;
    -fx-background-color: #591a93;
    -fx-border-width: 0 3 0 3;
    -fx-border-style: solid;
    -fx-border-color: #7900e6;
}
.logout{
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}
.logout:hover{
    -fx-text-fill: #210047;
    -fx-background-color: #FF3B3BC2;
    -fx-border-width: 0 3 0 3;
    -fx-border-style: solid;
    -fx-border-color: #b1e1ff;
}

/* datepicker-style */
.datePicker {
    -fx-background-color: #002c57;
    -fx-border-color: #a100ff;
    -fx-border-width: 0px;
    -fx-padding: 5px;
}

.datePicker .text-field {
    -fx-background-color: #e7c6ff;
    -fx-text-fill: #210047;
    -fx-font-size: 14px;
}

.datePicker .arrow-button {
    -fx-background-color: #591a93;
    -fx-padding: 2px;
}

.datePicker .arrow {
    -fx-background-color: #eee0ff;
    -fx-stroke: #591a93;
}
